ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
python-multipart
imblearn
fastapi==0.123.9
starlette==0.50.0
jinja2==3.1.6
uvicorn==0.35.0
-e .